@using RecordStore.Models
@{
    ViewBag.Title = "Albums";
}

<h2>@ViewBag.Artist.Name</h2>

@foreach (Album a in ViewBag.Artist.Albums)
{
    <p><a href="/Home/Records/@a.Id">@a.Name (@a.Release)</a></p>
}
