@using RecordStore.Models
@{ ViewBag.Title = "Records"; }

<h2>@ViewBag.Album.Artist.Name - @ViewBag.Album.Name</h2>

<table>
    @foreach (Record a in ViewBag.Album.Records)
    {
    <tr height="40">
        <td width="70"><p><center>@a.Format</center></p></td>
        <td width="70"><p><center>@a.Price $</center></p></td>
        <td width="70"><p><a href="/Home/AddToCart/@a.Id"><center>Add to cart</center></a></p>
        </td>
    </tr>
    }
</table>
